[core]
	autocrlf = input
[user]
	name = Chris
	email = email@localhost
[includeIf "gitdir:/home/wsl/github/"]
	path = /home/wsl/github/.gitconfig
[pull]
	rebase = false
[credential "https://github.com"]
	helper = !gh auth git-credential
