[core]
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	name = Chris
	email = email@localhost
[credential "https://github.com"]
	helper = !gh auth git-credential
[includeIf "gitdir:/home/wsl/github/"]
	path = /home/wsl/github/.gitconfig
