[core]
	autocrlf = input
[user]
	name = Chris
	email = email@localhost
[includeIf "gitdir:/home/chris/github/"]
	path = /home/chris/github/.gitconfig
[pull]
	rebase = false
[credential]
	helper = store
